header {
    /*위치*/
    position: fixed;
    width: 90%;
    height: auto;
    
    padding-left: 4%;
    text-align: center;
    align-items: center;

    /*폰트*/
    color : black;

    /*배경*/
    background-color: white;

    /*정렬*/
    display: flex; /*가로로 두기*/
    justify-content: space-between; /*구성요소 퍼지게*/
    align-items: space-around; /**/
}
a{
    text-decoration-line: none;
}
a:hover{
    font-weight: bold;
}

.headerDiv {
    width: 100%;
    text-align: center;
}